<%= form_for @truck do |f| %>
  <div>
    <%= f.text_field :truck_name, placeholder: "Truck Name" %>
  </div>
  <div>
    <%= f.text_field :phone_number, placeholder: "Phone Number" %>
  </div>
  <div>
    <%= f.text_field :address, placeholder: "Address" %>
  </div>
  <div>
    Is Cash Only? <%= f.check_box :is_cash_only, {}, "true", "false" %>
  </div>
  <div>
    <%= f.text_area :info, placeholder: "Food Truck info" %>
  </div>
  <div>
    <%= f.text_field :category, placeholder: "category" %>
  </div>
  <div>
    <%= f.text_field :general_hours, placeholder: "Hours of Operation" %>
  </div>
  <%= f.submit %>
<% end %>
