<div class="col-xs-2"></div>
<div class="col-xs-8">

<%= form_for @truck, :html => { multipart: true, :class => "form-horizontal"} do |f| %>
  <div class="col-sm-8">
    <%= f.text_field :truck_name, placeholder: "Truck Name", class: "form-control" %>
  </div>
  <div class="col-sm-8">
    <%= f.text_field :phone_number, placeholder: "Phone Number", class: "form-control" %>
  </div>
  <div class="col-sm-8">
    <%= f.text_area :info, placeholder: "Food Truck info", class: "form-control" %>
  </div>
  <div class="col-sm-8">
    <%= f.text_field :category, placeholder: "category", class: "form-control" %>
  </div>
  <div class="col-sm-8">
    Is Cash Only? <%= f.check_box :is_cash_only, {}, "true" %>
  </div>
  <div class="col-sm-8">
    <p>
      Paste a link or upload a photo of your truck
    </p>
    <%= f.text_field :picture, placeholder: "Image", class: "form-control" %>
  </div>
  <div class="col-sm-8">
    <%= f.file_field :avatar %>
  </div>
  <div class="col-sm-8">
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
<div class="col-xs-2"></div>
