<div class="one_truck_container container">
   <div class="row">

  <div class="col-sm-3">
    <%= image_tag @truck.picture unless @truck.picture.blank? %>
    <br>
    <div class="truck_info">
      Name:
      <%= @truck.truck_name %>
      <br>
      Phone Number:
      <%= @truck.phone_number %>
      <br>
      Address:
      <%= @truck.address %>
      <br>
      Info:
      <%= @truck.info %>
      <br>
      Category:
      <%= @truck.category %>
      <br>
      Hours:
      <%= @truck.general_hours %>
    </div>
  </div>
  <div class="col-sm-9">
    This will be each truck info
  </div>
</div>
</div>
<%= link_to 'See all the menus for this truck', user_truck_menus_path(user_id: @truck.user_id, truck_id: @truck.id)%>
