<div class="one_truck_container container">
   <div class="row">

  <div class="col-sm-3">
    <%= image_tag @truck.picture unless @truck.picture.blank? %>
    <br>
    <div class="truck_info">
      Name:
      <%= @truck.truck_name %>
      <br>
      Phone Number:
      <%= @truck.phone_number %>
      <br>
      Info:
      <%= @truck.info %>
      <br>
      Category:
      <%= @truck.category %>
    </div>
  </div>
  <div class="col-sm-9">
    This will be each truck info
  </div>
</div>
<%= link_to 'Menu', truck_menu_path(@truck) %>
<%= link_to 'edit this truck', edit_truck_path(@truck) %>
</div>
