Sign up

<%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>

<div class="col-md-8">
  <%= f.text_field :business_name, placeholder: "Business Name", class: "form-control" %>
</div>

<div class="col-md-8">
  <%= f.text_field :permit_id, placeholder: "Permit ID", class: "form-control" %>
</div>

<div class="col-md-8">
  <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
</div>
<div class="col-md-8">
  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
</div>
<div class="col-md-8">
  <%= f.submit "Sign Up", class: "btn btn-default btn-primary" %>
</div>
<% end %>
